[submodule "e2sim-kpmv3"]
	path = e2sim-kpmv3
	url = https://github.com/chany05/e2sim-kpmv3-RCv1.03.git
[submodule "mmwave-LENA-oran"]
	path = mmwave-LENA-oran
	url = https://github.com/chany05/mmwave-LENA-oran.git
